@import "./components/_appointmentList.scss";
@import "./components/_dropdown.scss";
@import "./components/_homePage.scss";
@import "./_layout.scss";

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Cabin', sans-serif;
}